{% extends 'main.html' %}

{% block content %}

<div class="cpassword">
    <h1>Change password</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="">Current Password</label>
        <input type="password" name="current_password" id="">
        <p>{{invalid}}</p>

        <label for="">New Password</label>
        <input type="password" name="new_password">

        <div id="cpsubmit">
            <input type="submit" name="" id="submit" value="submit">
            <a id="cancel" href="{% url 'profile' %}">cancel</a>
        </div>
    </form>
</div>

{% endblock content %}