{% extends 'main.html' %}

{% block content %}


<center>
    <div class="register">
        <h1>Register form</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <div id="registerinput">
                <div class="redetails">
                    <label for="">Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>

                <div class="redetails">
                    <label for="">Email</label>
                    <input type="emai" name="email" placeholder="Email">
                </div>

                <div class="redetails">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>

            </div>

            <input id="submit" type="submit" value="register">
        </form>
    </div>
</center>

{% endblock content %}